

/* Global
-------------------------------------------------------- */
label {
    font-weight: 800;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.btn-round:focus,
.btn-round:active {
    outline: none;
}
.btn-round {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px 16px;
    margin-bottom: 7px;
}
.del-img{
    display: none;
}


.navbar {
    background-color: #242424;
}
.navbar a {
    font-weight: 500;
}
a.navbar-brand {
    /* color: #fff !important; */
}
.pill {
    background: #e91e63;
    border-radius: 25px;
    padding: 3px 12px;
    box-shadow: 0px 1px 7px 0px #e91e63a8;
    border: 1px solid #e91e63;
    color: #fff;
}
.pill > a {
    color: #fff !important;
}


/* CREATE POST PAGE
-------------------------------------------------------- */
.create-post img {
    width: auto;
    max-width: 40%;
    margin-right: 15px;
    height: 220px;
}
/* SHOW POST ARCHIVE PAGE
-------------------------------------------------------- */
.post-card {
    box-shadow: 1px 1px 9px 1px #adcce4;
        border: 1px solid rgb(108 178 235);
}
.post-card .card-header {
    font-size: 20px;
    font-weight: 800;
}
.post-card img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    height: 278px;
    object-position: top;
}

/* UPDATE POST PAGE
-------------------------------------------------------- */
.update-post .upload-img{
    padding: 15px 15px 0 0;
}
.update-post img {
    width: auto;
    max-width: 40%;
    margin-right: 15px ;
    height: 220px;
}

/* RESPONSIVE
-------------------------------------------------------- */

@media (min-width:768px) {
    .navbar {
        padding: 1rem;
    }
}